.portfolio{
    width: 100%;
    height: auto;
    padding: 50px 0;
}
.portfolio .content .item h4{
    padding-left: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
}
.portfolio  h2 b{
 text-transform: capitalize;
 color: #0057ff;
}
.portfolio h2{
    position: relative;
}
.portfolio h2::before{
    content: '';
    height: 3px;
    width: 200px;
    background: #0057ff;
    position: absolute;
    bottom: 0;
    margin: auto;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.content .item{
    position: relative;
    cursor: pointer;
    transition: all 0.4s;
}
.content .item .itemOverlay{
    position: absolute;
    background: radial-gradient(rgba(37, 6, 45, 0.57) ,rgba(11, 1, 14,1) );
    width: 100%;
    font-size: 15px;
    inset: 0;
    transition: all 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    transition: all 0.4s;
}
#light .content .item .itemOverlay{
    background: radial-gradient(rgba(217, 202, 222, 0.67) ,rgba(203, 198, 205,1) );
}
.content .item:hover .itemOverlay{
    height: 0;
}
.content .item .itemOverlay .link{
    color: white;
    border: 1px solid #fff;
    text-decoration: none;
    padding: 10px;
    margin: auto 20px;
    display: none;
}
.content .item:hover .itemOverlay .link{
    display: block;
}
#light .content .item .itemOverlay .link{
    color: black;
    border: 2px solid #000;
    text-decoration: none;
    padding: 10px;
    margin: auto 10px;
}
.content .itemImg{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 52px 10px 5px;
}
.content .itemImg img{
    width: 100%;
    height: 100%;
    filter: grayscale(12px);
}