.portfolio{
    width: 100%;
    height: auto;
    padding: 50px 0;
}
.portfolio .content .item h4{
    padding-left: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
}
.portfolio  h2 b{
 text-transform: capitalize;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.content .item{
    position: relative;
    cursor: pointer;
    transition: all 0.4s;
}
.content .item .itemOverlay{
    position: absolute;
    background:linear-gradient(to right ,rgba(15, 4, 82, 0.80),rgb(62, 224, 207));
    width: 100%;
    font-size: 15px;
    inset: 0;
    transition: all 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    opacity: 0;
    cursor: pointer;
    transition: all 0.4s;
}
.content .item:hover .itemOverlay{
    height: 100%;
    opacity: 1;
}
.content .item .itemOverlay .link{
    color: white;
    border: 1px solid #fff;
    text-decoration: none;
    padding: 10px;
    margin: auto 10px;
}
.content .itemImg{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 48px 10px 5px;
}
.content .itemImg img{
    width: 100%;
    height: 100%;
    filter: grayscale(12px);
}