.contact{
    height: auto;
    padding: 20px;
}

.contact h1 span{
color: #FF014F;
}

.connect {
    animation: rotate 0.45s infinite ease;
    font-size: 28px;
}



@keyframes rotate{
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}

form input, textarea{
    padding: 10px;
    text-align: left;
    width: 100%;
    background: rgba(255, 255, 255,0.1);
    /* border: 1px solid #FFF; */
    color: #fff;
    border-radius: 7px;
    margin-bottom: 25px;
}
button{
    background-color: #FF014F;
    border: none;
    border-radius: 2px;
    padding: 10px 30px;
    height: 42px;
    cursor: pointer;
}
ul li{
    text-align: left;
}