.container{
    display: flex;
    justify-content: space-between;
}
button{
    height: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    background: rgba(255, 255, 255,0.88);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100vh;
    transform: translateX(100%);
    z-index: 999;
    transition:all 0.4s ease-in;
    padding: 50px;
}
 li{
    margin-bottom: 30px;
    text-align: center;
 }
nav ul {
    list-style: none;
    text-align: center;
}
nav ul .nav-link{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    margin: auto;
}
nav ul .nav-link::before{
    content: '';
    position: absolute;
    background-color: #000;
    height: 2px;
    width: 300px;
    transform: translate(-120px, 30px);
}
button{
    border: 1px solid gray;
    background-color: gray;
    color: #000;
    border-radius: 10px;
}
.navDisplay{
    transform: none;
}
.menu{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
}
   