.footerContainer{
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.footerMap{
position: absolute;
inset: 0;
}
.footerMap iframe{
width: 100%;
height: 100%;
}

.footerContent{
    width: 700px;
    margin: auto;
    position: relative;
    z-index: 1;
    background: radial-gradient(rgba(37, 6, 45, 0.75) ,rgba(11, 1, 14, 0.84) );
    padding: 30px;
} 
.footerContainer h1{
    font-size: 42px;
    font-weight: 600;
    position: relative;
    z-index: 1;
}
.footerContainer h4{
    color: rgb(255, 255, 255);
    font-weight: 400px;
    margin: 40px 40px;
    position: relative;
    z-index: 1;
}
.footerIcon a{
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-left: 20px;
}


@media (max-width: 620px) {
    .footerContainer{
        height: auto;
    }
    .footerContent{
        width: auto;

    }
    .footerIcon a{
        font-size: 15px;
    }
    .footerContainer h1{
        font-size: 24px;
    }
    .footerContainer h4{
        margin: 20px 10px;
        font-weight: light;
    }
}