@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Yuji+Mai&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Yuji+Mai&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yuji+Mai&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box ;
  overflow-x: hidden;
  /* font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
}
p{
  /* font-family: "Yuji Mai", serif; */
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" */

.App {
  text-align: center;
  width: 100%;
  height: auto;
  /* padding: 40px; */
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
#dark{
  background:white;
  color: black;
  /* font-family:Baskerville Old Face ; */
  /* transition: all 3s ease; */
}
#light{
  background:#000;
  color: white!important;
  /* transition: all 3s ease; */
}
.state{
  margin-top: 2.5px;
  margin-left: 2.5px;
  width: 22.5px;
  height: 22.5px;
}
.App-header {
 display: flex;
 justify-content: space-between;
 align-items: center;
  /* transition: all 3s ease; */
}
.switch{
  margin-left: auto;
}
.react-switch-bg{
  background: none!important;
}
.react-switch-handle{
  display: none!important;
}
.logo{
  font-size: 50px;
  font-family: "Yuji Mai", serif;
  /* color: white; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* hero section  */
.HeroSection{
  background: url('../src/assets/hero-bg.png') , url('../src/assets/jake.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.HeroSection h1{
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.69);
}
/* hero section ending  */


  /* about section  */
  .aboutMe{
    background:url('../src/assets/hr-ln.png');
    background-position: 10%;
    background-repeat: repeat;
    background-attachment: fixed;
    width: 100%;
}
.aboutMe h1{
  position: relative;
}
.aboutMe h1::before{
  content: '';
  height: 3px;
  width: 100px;
  background: #059669;
  position: absolute;
  top: 1.1em;
  bottom: 0;
  margin: auto;
}
.aboutMe .text {
  background: rgba(255, 255, 255, 0.8);
  padding: 2px 4px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.49);
}
.aboutMe .text p {
font-weight: bolder;
font-size: 18px;
padding: 10px 18px;
}
#dark .aboutContent{
    height: 100%;
    margin-left: auto;
    /* background: #000; */
}
#light .aboutMe .text {
  background-color: #000;
}
#light .aboutMe .icon .ms-4{
  color: white;
}
/* #light .aboutContent{
    background: radial-gradient(#d9cade ,#cbc6cd );
} */

.aboutContent h1::before{
    content: '';
    height: 3px;
    width: 100px;
    background: #0057ff;
    position: absolute;
    bottom: 0;
    margin: auto;
}
#light .icon ul a{
    color: #0b010e;
    margin-left: 20px;
}
.handPoint{
    font-size: 43px;
    display: flex;
    animation: Jerry 1.5s infinite ease-in;
}

  /* about section ending */


  /* services sectoin  */
  .service{
    width: 100%;
    height: auto;
    padding: 60px 0;
}
.serviceText h1{
 background: url('../src/assets/service-bg.png');
 background-repeat: no-repeat;
 background-position: center;
 margin-top: auto;
 height: 100px;
 display: flex;
 align-items: end;
 position: relative;
 justify-content: center;
}
.serviceText h1 span {
    color: #059669;
}
.serviceText  h1::before{
    content: '';
    height: 3px;
    width: 100px;
    background: #059669;
    position: absolute;
    bottom: -10px;
    transform: translateX(-40px);
}
#light .serviceText h1{
    background: linear-gradient(rgba(217, 202, 222,0.65), rgba(203, 198, 205,1)), url('../src/assets/service-bg.png');
    background-repeat: no-repeat;
    background-position: center;
}



.serviceContent{
  margin: 20px;
    padding: 20px 8px;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px black;

}
.serviceContent:hover{
    transition: 1.3s all ease;
}
#light .serviceContent{
    box-shadow: 2px 4px 10px 7px gray;
}
.serviceContent h4{
    padding: 10px 0;
}
.serviceContent p{
    font-size: 15px;
    padding: 20px 0;
}
  /* services sectoin ending */

/* portfolio section */
.portfolio{
  width: 100%;
  height: auto;
  padding: 50px 0;
}
.port h1{
 position: relative;
}
.port h1::before{
  content: '';
  height: 3px;
  width: 300px;
  background: #059669;
  position: absolute;
  top: 1.5em;
  bottom: 0;
  margin: auto;
}
.portfolio .content .item h4{
  padding-left: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
}
.portfolio  h2 b{
text-transform: capitalize;
color: #0057ff;
}
.portfolio h2{
  position: relative;
}
.portfolio h2::before{
  content: '';
  height: 3px;
  width: 200px;
  background: #0057ff;
  position: absolute;
  bottom: 0;
  margin: auto;
}
.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}
.content .item{
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
  background-color: white;
  box-shadow: 1px 1px 1px 6px white;
  overflow: hidden;
  border-radius: 30px;
  padding-bottom: 30px;
  color: #000;
  margin: 10px;
}
.content .item .itemOverlay{
  position: absolute;
  /* background: radial-gradient(rgba(37, 6, 45, 0.57) ,rgba(11, 1, 14,1) ); */
  width: 100%;
  font-size: 15px;
  inset: 0;
  transition: all 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  transition: all 0.4s;
}
#light .content .item .itemOverlay{
  background: radial-gradient(rgba(217, 202, 222, 0.47) ,rgba(203, 198, 205,1) );
}
.content .item:hover .itemOverlay{
  height: 50px;
  background: rgba(0, 0, 0, 0.90);
}
.content .item .itemOverlay .link{
  color: white;
  border: 1px solid #fff;
  text-decoration: none;
  padding: 10px;
  margin: auto 20px;
  display: none;
}
.content .item:hover .itemOverlay .link{
  display: block;
}
#light .content .item .itemOverlay .link{
  color: black;
  border: 2px solid #000;
  text-decoration: none;
  padding: 10px;
  margin: auto 10px;
}
.content .itemImg{
  width: 350px;
  height: 380px;
  overflow: hidden;
  /* margin: 52px 10px 5px; */
}
.content .itemImg img{
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


/* portfolio section ending */



@keyframes Jerry {
0%{
  transform: scale(0.5);
}
100%{
  transform: scale(1.5);
}
}



@media (min-width: 992px) {
  *{
    overflow-x: visible;
  }
}