*{
  padding: 0;
  margin: 0;
  box-sizing: border-box ;
}


.App {
  text-align: center;
  width: 100%;
  height: auto;
  padding: 20px;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
#light{
  background: radial-gradient(#d9cade ,#cbc6cd );
  color: black;
  /* transition: all 3s ease; */
}
#dark{
  background: radial-gradient(#25062d ,#0b010e );
  color: white;
  /* transition: all 3s ease; */
}
.state{
  margin-top: 2.5px;
  margin-left: 2.5px;
  width: 22.5px;
  height: 22.5px;
}
.App-header {
 display: flex;
 justify-content: space-between;
 align-items: center;
  /* transition: all 3s ease; */
}
.switch{
  margin-left: auto;
}

.App-link {
  color: darkblue;
}
.react-switch-bg{
  background: none!important;
}
.react-switch-handle{
  display: none!important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
